// Header background section
.headerBg{
    width: 100%;
    background-color: brown;
    height: 170px;
    z-index: 1;

}
body{
    margin: 0;
    padding: 0;
}
.headerBgPart1{
    height: 50px;
    background-color: maroon;

}
.bgImg{
    z-index: 2;
    position: absolute;
    top: 0;

    margin-left: 535px;
    opacity: .4;

}
//Header foreground section
.header{

    height: 170px;
    width: 1000px;
    margin: -170px auto;
    z-index: 3;
    position: relative;


}

.headerPart1{
    height: 50px;
    width: 1000px;
    position: absolute;
}




.headerPart1 .image{
    float: left;
    width: 60px;
    height: 40px;
}


.headerPart1 .link{
    margin-left: 130px;
    float: left;
    width: 630px;
    height: 40px;

}


.headerPart1 .link li{
    display: inline;
    display: block;
    float: left;
    display: table-cell;
}


a:link{
    color: white;
    margin-right: 20px;
    text-decoration: none;
    font-family: sans-serif;
    display: inline;
    display: block;
    font-weight: bold;
}


a:hover{
    text-decoration: underline;

}


a:visited{
    color: white;
    display: block;
}


.headerPart1 .search{
    float: left;
    width: 110px;
    margin-top: 15px;
}
.headerPart2{
    height: 90px;
    width: 1000px;
    margin-top: 50px;
    float: left;
    position: relative;
}
.textNews{
    font-family: sans-serif;
    font-size: 60px;
    color: white;
    height: 80px;
    width: 170px;
    padding: 0;
    margin-top: 10px;
    float: left;

}
.textNews p{
    padding: 0;
    margin: 0;
    width: 130px;
}
#textDate{
    font-family: sans-serif;
    font-size: 15px;
    width: 770px;
    height: 80px;
    float: left;
}
#textDate p{
    padding: 0;
    margin-top: 45px;
    color: white;
    height: 70px
}
.textRSS{
    padding: 0;
    margin-top: 35px;
    color: white;

}
.headerPart3{
    width: 1000px;
    height: 40px;
    position: absolute;
    margin-top: 130px;
    background-color: black;

}
.headerPart3Link li{
    display: inline-block;

}
//Sublinks poped in response of clicking main links
.popUpLink{
    height: 40px;
    background-color: whitesmoke;
    width: 1000px;
    margin: 170px auto 0;
    color: black;
    z-index: 4;
}
.popUpLink a{
    color: grey;
}
.popUpLink li{
    display: inline-block;
    color: black;
    margin-top: 10px;
}
.latestNews{
    height: 40px;
    width: 1000px;
    margin: 0 auto;
}
//.bodyBBC div contains all the data except header and footer
.bodyBBC{
    margin: 0 auto;
    border-style: solid hidden hidden hidden;
    border-color: gray;
    border-width: 1px;
    width: 1000px;

}
.bodyBBC a{
    color: midnightblue;
}
.mainContent{
    border-style: solid hidden hidden hidden;
    border-color: gray;
    border-width: 1px;
    width: 700px;
}

.topStory{
    color: midnightblue;

    width: 700px;
    float: left;
    position: relative;
}

.topStoryImage{
    float: left;
    height: 230px;
}
.topStoryText{
    float: left;
    margin: -10px 10px;
    color: #505050;
    font-family: Arial,Helmet,Freesans,sans-serif;
}
.topStoryText p{
    margin: 0;
}

.topStoryLink{

    float: left;
    margin-left: 10px; 
    color: midnightblue;
    font-family: sans-serif;    

}
.topStoryLink p{

    margin: 0px 0;
    padding: 0;
    color: #1f4f82;
    width: 270px;
}
.topStoryLink p a{
    margin: -25px 30px -15px 35px;
}
.topStoryLink p img{
    margin-top: 15px;

}

.secondStory{
    position: absolute;
    border-style: solid hidden hidden hidden;
    border-width: 2px;
    color: #505050;
    margin-top: 310px;
    width: 690px
}
.secondStoryImg{
    margin-top: 15px;
    float: left;   
}
.secondStoryLink {
    float: left;
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;

}
.secondStoryText{
    float: left;
    margin-top: -10px;
    color: #505050;
    font-family: Arial,Helmet,Freesans,sans-serif;
}
.secondStoryLinks img{
    margin: 0;
    padding: 0;
    float: left;
}
.secondStoryLinks {

    margin: 0;
    padding: 0;
    color: #1f4f82;
    width: 285px;
    float: left;
}

.secondStoryLinks a{
    padding: 0;
    margin-top: 10px;
    height: 22px;
    width: 267px;
}

.thirdStory{
    position: absolute;
    border-style: solid hidden hidden hidden;
    border-width: 2px;
    color: #505050;
    margin-top: 570px;
    width: 690px
}
.thirdStoryImg{
    margin-top: 15px;
    float: left;   
}
.thirdStoryLink {
    float: left;
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;

}
.thirdStoryText{
    float: left;
    margin-top: -10px;
    color: #505050;
    font-family: Arial,Helmet,Freesans,sans-serif;
}
.thirdStoryLinks img{
    margin: 0;
    padding: 0;
    float: left;
}

.thirdStoryLinks {

    margin: 0;
    padding: 0;
    color: #1f4f82;
    width: 285px;
    float: left;
}

.thirdStoryLinks a{
    padding: 0;
    margin-top: 10px;
    height: 22px;
    width: 267px;
}
.upperSlide{
    position: absolute;
    margin: 0 auto;
    margin-top: 820px; 
    width: 700px;
    height: 200px;
    float: left;
    margin-left: 5px;
}
// video slide section
.upperSlide a{
    margin: 0;padding: 0;
}
.slideSmblImage1{
    width: 20px;
    height: 111px;
    background-color: black;
    float: left;
    margin-left: 5px;
    margin-top: 35px;

}
.upperSlide1{
    display: inline-block;
    margin: 0 auto;
    float: left;
    margin-left: 5px;  
}
.upperSlide2{
    display: inline-block;
    margin: 0 auto;
    float: left;
    margin-left: 5px;
}
.upperSlide3{
    display: inline-block;
    margin: 0 auto;
    float: left;
    margin-left: 5px;
}
.upperSlide4{
    display: inline-block;
    margin: 0 auto;
    float: left;
    margin-left: 5px;
}
.upperSlideLink{
    position: absolute;
    margin-top: 80px;
    margin-left: 25px;
}
.upperSlide1Link{
    margin-left: -20px;
    float: left;
    margin-left: 5px; 
    width: 144px;
    font-size: 13px;
    background-color: orange;
    margin-top: 0;
    display: inline;

}
.upperSlide2Link{
    display: inline-block;
    float: left;
    margin-left: 5px; 
    width: 144px;
    font-size: 13px;
    background-color: orange;

}
.upperSlide3Link{
    display: inline-block;
    margin: 0 auto;
    float: left;
    margin-left: 5px; 
    width: 144px;
    font-size: 13px;
    background-color: orange;
}
.upperSlide4Link{
    display: inline-block;
    margin: 0 auto;
    float: left;
    margin-left: 5px; 
    width: 144px;
    font-size: 13px;
    background-color: orange;

}
.slideSmblImage2{
    width: 20px;
    height: 111px;
    background-color: black;
    float: left;
    margin-left: 5px;
}
.slideSmblImage2{
    width: 20px;
    height: 111px;
    background-color: black;
    float: left;
    margin-left: 5px;
}
// Asia/Pecific section
.slide{
    position: absolute;
    margin-top: 983px; 
    width: 700px;
    height: 200px;
    margin-left: 15px;   
}
.hr{
    width: 600px;
    color: gray;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
    margin-bottom: -10px;
}
.countryLink{
    float: left;
    margin-top: 20px;
}
.countryLink a{
    font-size: 18px;
    margin-right: 90px;
}
.Austrlia{
    float: left;
}
.China{
    float: left;
}
.India{
    float: left;
}
.Rest{

    float: left;
}
.slideImg{
    display: inline-block;
    margin: 0 auto;
}
.slideImg a{
    margin: 0;
}

.slideImg1{
    float: left;
    margin-left: 5px;

}
.slideImg2{
    float: left;
    margin-left: 5px;
}
.slideImg3{
    float: left;
    margin-left: 5px;
}
.slideImg4{
    float: left;
    margin-left: 5px;
}
.slideImg1Link{
    float: left;
    margin-left: 5px;
    width: 144px;

}
.slideImg2Link{
    float: left;
    margin-left: 5px; 
    width: 144px;
}
.slideImg3Link{
    float: left;
    margin-left: 5px;
    width: 144px;
}
.slideImg4Link{
    float: left;
    margin-left: 5px;
    width: 144px;
}
.slideImgLink a{
    font-size: 12px;
}
//services sectoin
.services{
    position: absolute;
    margin-top: 1200px;
    width: 837px;
    height: 190px;
    float: left;
    margin-left: 5px;
}
.services img{
    margin-right: 60px;
}
.mobile{
    display: inline-block;
    float: left;
    margin-left: 5px;
}
.TV{
    display: inline-block;
    float: left;
    margin-left: 5px;
}
.newsFeed{
    display: inline-block;
    float: left;
    margin-left: 5px;
}
.alerts{
    display: inline-block;
    float: left;
    margin-left: 5px; 
}
.E-mail{
    display: inline-block;
    float: left;
    margin-left: 5px;
}
.imgLinks{
    float: left;
    width: 700px;
    margin-left: 526px;
}
.imgLinks a{
    font-size: 15px;

}
.mobileLink{
    float: left;
    margin-left: -530px;
}
.TVLink{
    float: left;
    margin-left: -447px;
}
.newsFeedLink{
    float: left; 
    margin-left: -313px;
}
.alertLink{
    float: left;  
    margin-left: -170px;
}
.emailLink{
    float: left; 
    margin-left: -58px;
}
.aboutBBC{
    margin-top: -117px;
    height: 115px;
    float: right; 
    margin-left: 39px;
}
.aboutBBC li{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
//Addvertisement section
.sideBar{

    width: 290px;
    height: 1000px;
    float: left;
    margin-top: 10px;
}
.add1{
    height: 240px;
    background-color: whitesmoke;
}

.headerAdd1{
    margin-top: -20px;
    font-family: sans-serif;
    font-size: 30px;
    color: gray;
    text-indent: 5px;

}
.sideBarImg1{

    width: 110px;
    float: left;
    height: 70px;
    padding: 0 5px;
    font-family: sans-serif;
    margin-top: -20px;

}
.sideBarImgLink1{
    float: left;

}
.sideBarImgLink1 a{
    color: midnightblue;
    margin-top: -20px;

    text-indent: 10px;
}
.sideBarImgText1{
    color: gray;    
}

.sideBarImg2{

    width: 110px;
    float: left;
    height: 70px;
    padding: 0 5px;
    font-family: sans-serif;
    margin-top: 0px;
}
.sideBarImgLink2{
    float: left;
    margin-top: 5px;
}
.sideBarImgLink2 a{
    color: midnightblue;
    margin-top: -5px;
    text-indent: 10px;
}
.sideBarImgText2{
    color: gray;
}
.headerAdd2{
    float: right;
    margin-top: 20px;
}
.sideBarImg3{

}
.add3{
    height: 240px;
    background-color: whitesmoke;
}
.headerAdd3{
    margin-top: -20px;
    font-family: sans-serif;
    font-size: 30px;
    color: gray;
    text-indent: 5px;

}
.sideBarAdd3Img1{

    width: 110px;
    float: left;
    height: 70px;
    padding: 0 5px;
    font-family: sans-serif;
    margin-top: -20px;

}
.sideBarAdd3ImgLink1{
    float: left;
    margin-top: -20px;
}
.sideBarAddImgLink1 a{
    color: midnightblue;
    margin-top: -20px;

    text-indent: 10px;
}
.sideBarAdd3ImgText1{
    color: gray;    
}

.sideBarAdd3Img2{

    width: 110px;
    float: left;
    height: 70px;
    padding: 0 5px;
    font-family: sans-serif;
    margin-top: 20px;
}
.sideBarAdd3ImgLink2{
    float: left;
    margin-top: 26px;
}
.sideBarAdd3ImgLink2 a{
    color: midnightblue;
    margin-top: -5px;
    text-indent: 10px;
}
.sideBarAdd3ImgText2{
    color: gray;
}
//footer section
.footer{
    margin: 1420px 0 0 180px;
    position: absolute;
    border-style: solid hidden hidden hidden;
    border-width: 1px;
    color: #505050;

    width: 1000px;   
    float: left;
}
.footerImgDiv{
    margin-top: 20px;
    width: 400px;
    height: 150px;
}
.footerLinks{
    width: 590px;
    margin-left: 400px;
    margin-top: -168px;
    height: 100px;
    float: left;
}
.footerLinks li{
    list-style-type: none;  
}
.footerLinks a{
    color: grey;
    font-size: 13px;
    font-weight: normal;
}

.footerLinksDiv1{
    float: left;

}
.footerLinksDiv2{
    float: left;
}
.footerLinksDiv3{
    float: left;
}
.copyRightDiv{
    margin-top: 20px;

    color: gray;
}